include LICENSE
include README.md
include CONTRIBUTING.md
include CODE_OF_CONDUCT.md

include requirements.txt
include setup.cfg
include pyproject.toml
include .bumpversion.cfg
include jest.config.js
include Makefile

graft tests
recursive-include jupyterlab_nbconvert_nocode *.ipynb


# Documentation
prune docs


# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
